@font-face{
    font-family: 'cyberpunk1';
    src: url(fonts/cyber-punk-sd/Sdcyberpunkcitydemo-pgyBd.otf);
}

@font-face{
    font-family: 'cyberpunk2';
    src: url(fonts/cyber-rider/CyberwayRiders-lg97d.ttf);
}

@font-face{
    font-family: 'cyberpunk3';
    src: url(fonts/glitch-robot-sd/Sdglitchrobotdemo-GOPdO.ttf);
}

.heading{
    font-family: cyberpunk1;
    font-size: 60px;
    margin-bottom: 1px;
    font-weight: bolder;
    color: red;
}


.app-body{
    display: flex;
    height: 100vh;
    background-image: url(bg-images/samurai2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-right-link {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 5px;
}
.top-right-link:hover {
    background-color: #007bff;
    color: white;
}

.my-button{
    height: 50px;
    width: 150px;
    
}

form {
    max-width: 400px;
    margin-bottom: 1px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}
input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}